body{
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.inside_body{
   height: 400px;
   width: 800px;
   background-color: white;
   border: 2px solid black;
   border-radius: 10px; 
   padding-top: 20px;
   margin-top: 5%;;
}
